.hero {
  height: 80vh;
  margin-bottom: 0px;
  color: white;
  object-fit: contain;
}

.hero_contents {
  margin-left: clamp(20px, 4vw, 60px);
  padding-top: clamp(180px, 35vh, 350px);
}

.hero_title {
  /* font-size: 3rem; */
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.hero_description {
  line-height: 1;
  padding: 1rem 0;
  /* font-size: 1rem;
    max-width: 360px; */
  font-size: clamp(0.85rem, 1.5vw, 1rem);
  max-width: clamp(280px, 40vw, 500px);
  height: auto;
}

.hero_button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  /* font-size: 1.2rem; */
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  font-weight: 700;
  border-radius: 0.2vw;
  /* padding: 1rem 3rem;
    margin-right: 2rem; */
  padding: clamp(0.7rem, 1.5vw, 1rem) clamp(1.5rem, 3vw, 3rem);
  margin-right: clamp(0.5rem, 2vw, 2rem);
  background-color: rgba(51, 51, 51, 0.5);
}

.play {
  color: #000;
  background-color: #fff;
}

.hero_button:hover {
  color: #000;
  background-color: #c6c6c6;
  transition: all 0.2s;
}

.hero_fadeBottom {
  height: 40vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(37, 37, 37, 0.91),
    #111
  );
}
